<footer class="bg-dark text-white mt-5 py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>huy Shop</h5>
                <p>Chuyên cung cấp sản phẩm chất lượng cao</p>
            </div>
            <div class="col-md-4">
                <h5>Liên hệ</h5>
                <p><i class="bi bi-geo-alt"></i> 77 Nguyễn Huệ, Huế</p>
                <p><i class="bi bi-telephone"></i> 0234.3.882.111</p>
                <p><i class="bi bi-envelope"></i> contact@huyshop.com</p>
            </div>
            <div class="col-md-4">
                <h5>Kết nối</h5>
                <a href="#" class="text-white me-2"><i class="bi bi-facebook fs-4"></i></a>
                <a href="#" class="text-white me-2"><i class="bi bi-instagram fs-4"></i></a>
                <a href="#" class="text-white"><i class="bi bi-youtube fs-4"></i></a>
            </div>
        </div>
        <hr class="bg-secondary">
        <div class="text-center">
            <p>&copy; @DateTime.Now.Year Huy Shop. All rights reserved.</p>
        </div>
    </div>
</footer>